@model ElectronicJournal.WebUI.Models.HomeListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div class="well">
        @using (Html.BeginForm("List", "Home", FormMethod.Post))
        {
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        
                            <td rowspan="2"><b>№№<br>п/п</b></td>
                            <td rowspan="2"><b>Фамилия и инициалы</b></td>
                            <td align="center" colspan="18"><b>Посещения и успеваемость</b></td>
</tr>
                    <tr>
                        @foreach (var item in Model.DaysArrival)
                        {
                            <td>@item.ToString("dd.MM")</td>
                        }
                    </tr>
                    @for (int i = 0; i < Model.Students.Count(); i++)
                {
                        @Html.HiddenFor(m => m.Students[i].FIO);
                        @Html.HiddenFor(m => m.Students[i].Id);
                        @Html.HiddenFor(m => m.Students[i].Troop);
                        @Html.HiddenFor(m => m.Students[i].TroopId);
                        @*@Html.HiddenFor(m => m.Students[i].Assessments);*@
                        <tr>
                            <td>@(i + 1)</td>@*Номер в списке*@
                            <td>@Html.DisplayFor(m => m.Students[i].FIO)</td>@*ФИО*@
                            @for (int j = 0; j < Model.DaysArrival.Count(); j++)//бред
                            {
                                <td>
                                    @Html.DropDownListFor(m => m.Students[i].Assessments[j].Grade, new List<SelectListItem>
                                {
                                new SelectListItem {Text = "", Value="",Selected = Model.Students[i].Assessments[j].Grade == ""? true : false },
                                new SelectListItem {Text = "2", Value="2",Selected = Model.Students[i].Assessments[j].Grade == "2"? true : false },
                                new SelectListItem {Text = "3", Value="3",Selected = Model.Students[i].Assessments[j].Grade == "3"? true : false },
                                new SelectListItem {Text = "4", Value="4",Selected = Model.Students[i].Assessments[j].Grade == "4"? true : false },
                                new SelectListItem {Text = "5", Value="5",Selected = Model.Students[i].Assessments[j].Grade == "5"? true : false },
                                new SelectListItem {Text = "б", Value="б",Selected = Model.Students[i].Assessments[j].Grade == "б"? true : false },
                                new SelectListItem {Text = "н", Value="н",Selected = Model.Students[i].Assessments[j].Grade == "н"? true : false }
                                })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <p><input class="btn btn-default" type="submit" value="Сохранить изменения" /> </p>
        }
    </div>
</body>
</html>