@model ElectronicJournal.WebUI.Models.HomeListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div class="well">
        @using (Html.BeginForm("List", "Home", FormMethod.Post))
        {
            <table class="well">
                <tr>
                    <td rowspan="2">№№<br>п/п</td>
                    <td rowspan="2">Фамилия и инициалы</td>
                    <td colspan="18">Посещения и успеваемость</td>
                </tr>
                <tr>
                    @foreach (var item in Model.DaysArrival)
                    {
                        <td>@item.ToString("dd.MM")</td>
                    }
                </tr>
                @for (int i = 0; i < Model.Students.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Students[i].FIO);
                    @Html.HiddenFor(m => m.Students[i].Id);
                    @Html.HiddenFor(m => m.Students[i].Troop);
                    @Html.HiddenFor(m => m.Students[i].TroopId);
                    @Html.HiddenFor(m => m.Students[i].Assessments);
                    <tr>
                        <td>@(i + 1)</td>@*Номер в списке*@
                        <td>@Html.DisplayFor(m => m.Students[i].FIO)</td>@*ФИО*@
                        @for (int j = 0; j < Model.DaysArrival.Count(); j++)//бред
                        {
                            <td>
                                @Html.DropDownListFor(m => m.Students[i].Assessments[j].Grade, new SelectList(new string[]
                                           { "","2","3","4","5","н","б" }))
                            </td>
                        }
                    </tr>
                }
            </table>
            <p><input type="submit" value="Send" /> </p>
        }
    </div>
</body>
</html>